.container {
   width: 100%;
   height: 120px;
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   padding: 0 20px;
   background-color: #0097b2;
   color: #fff;

   .link {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
         // width: 100%;
      }
   }
   .mobile {
      .navbar {
         width: 100%;
         background-color: #0097b2;
         position: fixed;
         inset: 0;
         z-index: 999;
         .header {
            width: 100%;
            height: 120px;
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
         }
         .headerNav {
            width: 100%;
            height: 100vh;
            overflow-y: auto;
            z-index: 999;
            .links {
               width: 100%;
               padding: 0 20px;
               a {
                  height: 50px;
                  align-items: center;
                  display: flex;
               }
            }
            .mobileToggle {
               padding: 0 10px;
               button {
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding: 0 10px;
                  text-align: left;
                  color: #fff;
                  font-size: 16px;
               }
            }
            .toggleContainer {
               width: 100%;
               background-color: #006e81;
               border-radius: 5px;
               padding: 0 30px;
               button {
                  width: 100%;
                  padding: 10px;
                  cursor: pointer;
                  text-align: left;
                  color: #fff;
               }
            }
         }

         .helllo {
            padding: 0 5px;
            button {
               float: left;
            }
         }
      }
      button {
         width: 45px;
         height: 45px;
         background-color: transparent;
         border: none;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         svg {
            stroke: #fff;
         }
      }
   }
   .wi {
      display: flex;
      gap: 10px;
      .toggle {
         width: 100px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         button {
            width: auto;
            background-color: transparent;
            border: none;
            cursor: pointer;
            span {
               font-size: 1rem;
               color: #fff;
               display: flex;
               align-items: center;
               gap: 5px;
            }
         }
         .toggleContainer {
            width: 180px;
            position: absolute;
            top: 30px;
            left: 3px;
            box-shadow: 0px 0px 3px 0px #ccc;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 3px;
            z-index: 999;
            button {
               width: 100%;
               padding: 10px;
               text-align: left;
               cursor: pointer;
               color: #fff;
               background-color: #0097b2;
               border: 1.2px solid #000;
            }
         }
      }
      .links {
         width: 250px;
         display: flex;
         justify-content: center;
         gap: 30px;
         a {
            // width:
            text-align: center;
         }
      }
   }
   .helllo {
      width: 100%;
      .btn {
         width: 80px;
         height: 40px;
         border-radius: 5px;
         background-color: transparent;
         cursor: pointer;
         float: right;
         border: none;
         span {
            font-size: 1rem;
            color: #fff;
         }
      }
   }
}
