.container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("../../public/physiobg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
