.container {
   width: 100%;
   height: 80vh;
   background-image: url("../../public/slider/6.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
}
