.container {
   width: 700px;
   height: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #0097b2;
   padding: 20px;
   border-radius: 5px;
   color: #fff;
   gap: 10px;
   @media screen and (max-width: 700px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .successfullyPaid {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      inset: 0;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .titlePaid {
         display: flex;
         flex-direction: column;
         align-items: center;
         h2 {
            color: #000;
         }
         @media screen and (max-width: 700px) {
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            h2 {
               font-size: 18px;
               text-align: center;
            }
         }
      }
      h2 {
         color: #000;
      }
      button {
         width: 300px;
         height: 45px;
         border-radius: 5px;
         border: none;
         background-color: #0097b2;
         color: #fff;
         cursor: pointer;
      }
   }
   .payTitle {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;

      h2 {
         text-align: left;
      }
   }
   .paymentContainer {
      width: 100%;
      display: flex;
      height: auto;
      gap: 10px;
      .booksSum {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 10px;
         span {
            width: auto;
         }
         div {
            height: 40px;
            display: flex;
            gap: 10px;
         }
      }
      .payment {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 50px;
      }
   }
   button {
      width: 300px;
      height: 50px;
      border-radius: 5px;
      border: none;
      background-color: #fff;
      color: #000;
      cursor: pointer;
   }
}
