.container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   .verificationContainer {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
}
