.container {
   min-width: 100%;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #0097b2;
   padding: 10px;
   @media screen and (max-width: 700px) {
   }
   div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 700px) {
         h2 {
            font-size: 14px;
         }
      }
      h2 {
         font-size: 1.5rem;
         color: #fff;
         @media screen and (max-width: 700px) {
            font-size: 1.2rem;
         }
      }
      button {
         width: 30px;
         height: 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 100px;
         border: none;
         cursor: pointer;
         background-color: transparent;
         svg {
            stroke: #fff;
         }
      }
   }
   p {
      text-align: justify;
      color: #fff;
      @media screen and (max-width: 700px) {
         font-size: 1.2rem;
      }
   }
}
