.container {
   width: 100%;
   overflow-y: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 10px;
   .frame {
      width: 100%;
      height: 500px;
   }
   h2 {
      width: 100%;
      padding: 0 20px;
   }
   .reports {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      button {
         padding: 8px 20px;
         color: #fff;
         background-color: #0097b2;
         cursor: pointer;
      }
   }
}
