.container {
   width: 100%;
   .tagline {
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 20px;
      h2 {
         font-size: 24px;
         color: #fff;
         z-index: 1;
      }
      button {
         width: 140px;
         height: 50px;
         background-color: transparent;
         border: 1px solid #fff;
         color: #fff;
         border-radius: 4px;
         z-index: 1;
         cursor: pointer;
         &:hover {
            background-color: #0097b2;
            border: none;
         }
      }
   }
   .title {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
         font-size: 2rem;
      }
   }
   .services {
      display: grid;
      grid-template-columns: repeat(auto-fit, 450px);
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px 10px;
      .service {
         width: 100%;
         height: 500px;
         border-radius: 3px;
         padding: 20px;
         box-shadow: 0px 0px 3px 0px #ccc;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         gap: 10px;
         &:hover {
            box-shadow: 0px 0px 5px 0px #0097b2;
         }
         .image {
            width: 100%;
            height: 250px;
            background-color: #ddd;
            border-radius: 5px;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            position: relative;
         }
         h2 {
            font-size: 18px;
         }
         p {
            height: 180px;
            text-align: justify;
            white-space: unset;
            text-wrap: balance;
         }
      }
   }
   footer {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0097b2;
      span {
         color: #fff;
         text-transform: uppercase;
      }
   }
}
