.container {
   width: 500px;
   height: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #fff;
   box-shadow: 0px 0px 3px 0px #ccc;
   gap: 10px;
   border-radius: 5px;
   flex-direction: column;

   padding: 20px;
   @media screen and (max-width: 600px) {
      width: 500px;
      height: 100%;
      box-shadow: none;
      display: flex;
      flex-direction: c;
   }
   span {
      font-size: 18px;
   }
   form {
      width: 350px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      .add {
         width: 350px;
         display: flex;
         padding: 10px;
         gap: 5px;
         .cancel {
            border: 1px solid #ccc;
            height: 40px;
            border-radius: 3px;
            font-size: 16px;
            width: 250px;
            background-color: #ccc;
            cursor: pointer;
         }
         .submit {
            border: 1px solid #ccc;
            height: 40px;
            border-radius: 3px;
            font-size: 16px;
            width: 250px;
            background-color: #0097b2;
            cursor: pointer;
            color: #fff;
         }
      }
   }
}
